@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
:root{
    --clr-primary: hsl(322, 100%, 66%);
    --clr-secondary-pale: hsl(193, 100%, 96%);
    --clr-secontary-dark: hsl(192, 100%, 9%);
    --clr-secondary-blue:hsl(208, 11%, 55%);
    --font-primary:'Poppins', sans-serif;
    --font-secondary:'Open Sans', sans-serif;
}
/* Utility class  */
.btn{
    background-color: var(--clr-primary);
    color: #FFFFFF;
}
.logo{
    width: 13em;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.txt-lg{
font-size: 2.9em;
font-family: var(--font-primary);
font-weight: 600;
}
.txt-sm{
    font-size: 1.2em;
    margin: 1.6em 0;
    font-family: var(--font-secondary);
    font-weight: 400;
}
.txt-md{
font-family: var(--font-secondary);
font-size: 2em;

}
/* The header element containing the nav elements  */
header{
    background-image: url(./images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--clr-secondary-pale);
    padding: 4em;
    margin-bottom: 10em;
}
/* The logo and the navigatiion button */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}

.nav-btn{
    background-color:#FFFFFF;
    color: #000;
    padding: 1em 4em; 
    border: none;
    border-radius: 50px;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-btn:hover{
    cursor: pointer;
    opacity: 0.7;
}
.header-img{
    width: 45em;
}
.header-description{
    display: flex;
    align-items: center;
}
.header-btn{
    padding: 1.5em 6em;
    border: none;
    border-radius: 50px;
    font-family: var(--font-secondary);
    font-weight: 700;
}
.header-btn:hover{
    cursor: pointer;
    opacity: 0.7;
}
/* The boxes with a description and an image  */
.description{
display: flex;
justify-content: center;
align-items: center;
padding: 7em;
}
section img{
    width: 25em;
    display: flex;
    justify-content: flex-end;
}
section{
    margin: 3em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    height: 29em;
    border-radius: 15px;

}
.description p{
    margin: 1em 0;
}
.img-container{
    display: flex;
    align-items: center;
    padding: 2em 0 2em 10em;
}
/* The box with a button near the footer  */
.box-footer{
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 4em;
    border-radius: 20px;
}
.btn-footer{
    padding: 1.5em 7em;
    border-radius: 50px;
    border: none;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1em;
    margin-top: 2em;
}
.btn-footer:hover{
    cursor: pointer;
    opacity: 0.7;
}
/* The footer  */
footer{
    background-color: var(--clr-secontary-dark);
    color: #FFFFFF;
    padding: 9em 8em;
}